// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$dark: #183933;
$success: #3F5544;
$secondary: #03C490;
$secondary-enphasis: #038A91;
$info: #06708E;
$primary: #F5B40B;
$light: #F2F3C1;
$blue: #06708E;
$warning: #EFE6DD;

$font-family-sans-serif: "Poppins", sans-serif !default;
$font-family-serif: "Karla", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here