@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

footer.footer{
    flex: 1 0 auto;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width:100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.custom-box-dark {
    width: 200px; /* Largeur du rectangle */
    height: 50px; /* Hauteur du rectangle */
    background-color: #183933; /* Couleur de fond */
    border-radius: 10px; /* Coin arrondi */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrer horizontalement */
}

.custom-box-warning {
    width: 200px; /* Largeur du rectangle */
    height: 50px; /* Hauteur du rectangle */
    background-color: #EFE6DD; /* Couleur de fond */
    border-radius: 10px; /* Coin arrondi */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrer horizontalement */
}

.custom-box-success {
    width: 200px; /* Largeur du rectangle */
    height: 50px; /* Hauteur du rectangle */
    background-color: #3F5544; /* Couleur de fond */
    border-radius: 10px; /* Coin arrondi */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrer horizontalement */
}

.custom-box-forms {
    width: 700px; /* Largeur du rectangle */
    height: 800px; /* Hauteur du rectangle */
    background-color: #fff; /* Couleur de fond */
    border-radius: 10px; /* Coin arrondi */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrer horizontalement */
}

.masthead {
    background-size: cover;
    min-height: 75vh;
    position: relative;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 30vh
    }
}
  
  .logo {
    max-height: 50px;
  }

  ::after,
  ::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  a {
      text-decoration: none;
  }
  
  li {
      list-style: none;
  }
  
  h1 {
      font-weight: 600;
      font-size: 1.5rem;
  }
  
  .wrapper {
      display: flex;
  }
  
  .main {
      min-height: 100vh;
      width: 100%;
      overflow: hidden;
      transition: all 0.35s ease-in-out;
      background-color: #EFE6DD;
  }
  
  #sidebar {
      width: 70px;
      min-width: 70px;
      z-index: 1000;
      transition: all .25s ease-in-out;
      background-color: #3F5544;
      display: flex;
      flex-direction: column;
  }
  
  #sidebar.expand {
      width: 260px;
      min-width: 260px;
  }
  
  .toggle-btn {
      background-color: transparent;
      cursor: pointer;
      border: 0;
      padding: 1rem 1.5rem;
  }
  
  .toggle-btn i {
      font-size: 1.5rem;
      color: #FFF;
  }
  
  .sidebar-logo {
      margin: auto 0;
  }
  
  .sidebar-logo a {
      color: #FFF;
      font-size: 1.15rem;
      font-weight: 600;
  }
  
  #sidebar:not(.expand) .sidebar-logo,
  #sidebar:not(.expand) a.sidebar-link span {
      display: none;
  }
  
  .sidebar-nav {
      padding: 2rem 0;
      flex: 1 1 auto;
  }
  
  a.sidebar-link {
      padding: .625rem 1.625rem;
      color: #FFF;
      display: block;
      font-size: 0.9rem;
      white-space: nowrap;
      border-left: 3px solid transparent;
  }
  
  .sidebar-link i {
      font-size: 1.1rem;
      margin-right: .75rem;
  }
  
  a.sidebar-link:hover {
      background-color: rgba(255, 255, 255, .075);
      border-left: 3px solid #06708E;
  }
  
  .sidebar-item {
      position: relative;
  }
  
  #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
      position: absolute;
      top: 0;
      left: 70px;
      background-color: #0e2238;
      padding: 0;
      min-width: 15rem;
      display: none;
  }
  
  #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
      display: block;
      max-height: 15em;
      width: 100%;
      opacity: 1;
  }
  
  #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
      border: solid;
      border-width: 0 .075rem .075rem 0;
      content: "";
      display: inline-block;
      padding: 2px;
      position: absolute;
      right: 1.5rem;
      top: 1.4rem;
      transform: rotate(-135deg);
      transition: all .2s ease-out;
  }
  
  #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
      transform: rotate(45deg);
      transition: all .2s ease-out;
  }